/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

.container {
    max-width: 500px;
}

.nav ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav ul li {
    width: 32%;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    border-bottom: 3px solid gray;
}

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition: 1s linear all;
}

.animate-view.ng-enter {
    opacity: 0;
}

.animate-view.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate-view.ng-leave {
    opacity: 1;
}

.animate-view.ng-leave.ng-leave-active {
    opacity: 0;
}
